body{
	background-color: lightgrey;
	background-image: url("jGlzr.png");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 23%;
    
    <!--position: fixed;-->
    height: 100%;
    overflow: auto;
}


li a {
    display: block;
    color: #000;
    padding: 10px 25px;
    text-decoration: none;
}

li a.actv {
    background-color: brown;
    color: white;
}

li a:hover:not(.actv) {
    background-color: grey;
    color: white;
}
#lf{
	align: center;
	margin-left:1px;
	margin- top: 1px;
	margin-right:15%; 
	padding:1px 16px;
	height:1px;
	
}

#ff{
	width:250px;
	height:228px;
}

#xxx{
    
    width: 300px;
    <!--border: 2px solid green;-->
    padding: 1px;
    margin: 0px;
}
#bd{
	margin-left:20%;
	margin- top: 50px; 
	padding:1px 16px;
	height:100%;
	text-align:center;
	align-content: center;
}

#pp{
	width:250px;height:228px;
}
#vv{
	width: 280px;
	height:250px;
    border:none;
}

#cc{
	width:250px;height:228px;
}

#hh{
	margin-left:45%;
	margin-top: 0px; 
	padding:45px 30px;
	height:300px;
}

#co{
	margin-left:10%;
	margin- top: 50px; 
	padding:70px 20px;
	height:200px;
}
h1{
	color:solid black;
	font-size: 50px;
}
h3{
	text-align: center;
	color: solid black;
}
p{
	text-align: center;
	font-style: oblique;
}

table, td, th{
	align: center;
	font-style: oblique;
	border: 1px solid black;
	width: 40%;
}

table{
	border-collapse: collapse;
	align: center;
	
}
th{
	color: solid black;
	font-style: normal;
}
#t2{
	margin-left: 25%;
	margin-top: 50px;
}

#f1{
	width:25px;height:25px;
}

#g1{
	width:25px;height:25px;
}

#l1{
	width:25px;height:25px;
}
#gh1{
	width:25px;height:25px;
}
#bb1{
	width:25px;height:25px;
}
#cm{
	text-align:center;
}
#mc{
	text-align:center;
}
#icons1{
	
	margin-left: 45%;
}
